* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #111111;
}

li {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

/* button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
} */

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: #111111;
  direction: ltr;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}
/* --------------------------------------------- */
/* Nhung class chung su dung lai duoc: */
/* chia 2 cot */
.container {
  width: 1170px;
  margin: 0 auto;
}

.has-two-col {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

ul.inline-list li {
  display: inline;
}

ul.inlineblock-list li {
  display: inline-block;
}

.inline * {
  display: inline;
}
/* header */
header {
  background: #f4f4fc url(/assets/img/background.png) no-repeat center top;
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 265px;
}

#top-bar {
  height: 48px;
  line-height: 48px;
}

#top-bar h1 a {
  display: flex;
  height: 48px;
  line-height: 48px;
  align-items: center;
}

header #menu {
  font-size: 0;
}

header #menu li a {
  display: inline-block;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  padding: 0px 17px;
}

header #top-bar button {
  font-size: 18px;
  height: 48px;
  padding: 0px 42px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #c04ae2;
  background-color: transparent;
  font-weight: bold;
  margin: 0 12px;
}

header #socials li a {
  display: inline-block;
  line-height: 48px;
  padding: 0 8px;
}

/* header: hero */
header #hero {
  margin-top: 137px;
}

header .page-title {
  width: 600px;
}

header .page-title h1 {
  font-size: 90px;
  line-height: 108px;
}

header .page-title h2 {
  color: #5e5858;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin-top: 42px;
  margin-bottom: 55px;
}

header #main-img {
  position: relative;
  flex-grow: 1;
}

header #main-img img {
  position: absolute;
  top: 0;
  left: 16px;
}

header .page-title a {
  display: inline-block;
  font-size: 24px;
  height: 74px;
  line-height: 74px;
  background-color: #c04ae2;
  color: white;
  padding: 0 60px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
